@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
}

aside {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: flex-start;
  background: url(bg.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

.view {
  color: black;
}

header {
  position: relative;
  /* top: 0; */
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.navigation a {
  color: purple;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transiton: 0.3s;
  transition-property: background;
}

.navigation a:not(:last-child) {
  margin-right: 30px;
}

.navigation a:hover {
  background: #fff;
  cursor: pointer;
}

.attire {
  max-width: 650px;
  margin: 60px 100px;
}

.attire .appearance h2 {
  color: indigo;
  /* color: red; */
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.attire .appearance h2 span {
  color: orangered;
  /* color: indigo; */
  font-size: 50px;
  font-weight: 700;
}

.attire .appearance p {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 40px;
}

.attire .site {
  color: #fff;
  background: #226a80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  letter-spacing: 5px;
  padding: 10px 20px;
}

.attire .site:hover {
  background: #0c4f60;
  transition: 0.3s;
  transition-property: background;
}

.media-icons {
  color: yellow;
}

.media{
  display:flex;
  justify-content: center;
  align-items: center
  margin: auto;
}

.media a{
  position:relative;
  color: #111;
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media a:not(:last-child){
  margin-right: 60px;
}

.media a:hover{
  transform: scale(2.0);
}

label{
  display: none;
}

#roger{
  z-index: 3;
  display: none;
}

@media (max-width: 960px){
  nav .navigation{
    display: none;
  }

  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #fff;
  }

  label .close-btn{
    display: none;
  }

  #roger:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgba(114, 223, 255, 0.9);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #roger:checked ~ header .navigation a{
    font-weight: 800;
    margin-right:0;
    margin-bottom: 50px;
    letter-spacing:2px;
  }

  #roger:checked ~ header label .menu-btn{
    display:none;
  }

  #roger:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn{
    position: absolute;
  }

  header .intro{
    position: absolute;
    bottom: -6px;
  }

  .attire .appearance h2{
    font-size: 45px;
    line-height: 50px;
  }

  .attire .appearance h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .attire .appearance h2 p{
    font-size: 14px;
  
  }
}

@media (max-width: 560px){

  .attire .appearance h2{
    font-size: 35px;
    line-height: 40px;
  }

  .attire .appearance h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .attire .appearance h2 p{
    font-size: 14px;
  
  }
}